.hero__button {
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    color: var(--primary-white);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
        display: inline-block;
        min-width: 200px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 10px 32px;
        color: var(--primary-white);
        background-color: var(--accent-color);
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
    }
&:hover {
        background-color: var(--buton-hero-hover);
        }
}


.button-all,
.button-all:focus {
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;
    color: var(--primary-white);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-portfolio {
    min-width: 145px;
    padding: 6px 22px;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--secondary-background);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    border: none;
    display: inline-block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.container-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-item {
    margin-right: 9px;

    &:nth-child(5n) {
        margin-right: 0px;
    }
}

.footer-form__button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.footer-form__button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white);
    margin-right: 10px;
}

.footer-form__icon {
    width: 24px;
    height: 24px;
    transform: translateY(3px);
}

.button-footer:hover,
.button-footer:focus,
.button-footer:active {
    background-color: var(--buton-hero-hover);
}

.btn-features {
    content: "";
    border: none;
    background: #f5f4fa;
    width: 270px;
    height: 120px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}