.footer  {
    display: flex;
    color: var(--primary-white);
    background-color: var(--background-hero-footer);
    font-size: 14px;
    line-height: 1.71;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer__adress  {
    margin-top: 0px;
    margin-bottom: 9px;
    font-style: normal;
}

.footer__mail {
    display: flex;
    margin-bottom: 9px;
}


.list .text-footer {
    color: var(--primary-white);
    text-decoration: none;
    font-style: normal;
}

.footer__mail {
    color: var(--footer__tel);
    text-decoration: none;
    font-style: normal;
}
.footer__tel {
    color: var(--footer__tel);
    text-decoration: none;
    font-style: normal;
}

.adsdress-contact {
    font-style: normal;
}

.footer-soc {
    margin-left: 70px;
}

.footer-soc__join {
    display: flex;

    align-items: center;
}

.footer-soc__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 70px; */
    /* margin: 40px 940px 20px 70px; */
}

.footer-soc__join-text {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    /* margin-left: 70px; */
    align-items: baseline;
    display: flex;
}

.footer-soc__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footer-soc__item {
    margin-right: 10px;
    &:last-child {
            margin-right: 0px;
        }
}



.footer-soc__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}