.works {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.works__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
}

.works__list {
    display: flex;
    flex-wrap: nowrap;
}

.works__item {
    width: 370px;
    position: relative;
}

.works__item:not(:last-child) {
    margin-right: 30px;
}

.works__thumb {
    position: relative;
}

.works__text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    
}

img 
{
    display: block;
    max-width: 100%;
    height: auto;
}